@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Fontes */
/* Cores principais */
/* Gradientes */
/* Tamanhos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
}
header .box-header {
  margin-top: 30px;
  width: 73%;
  height: 7vh;
  margin-top: 5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #1173d4 0%, #33CC73 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .box-header nav {
  width: 40%;
  height: 7vh;
  display: flex;
  margin-right: 5rem;
  align-items: center;
  justify-content: space-around;
}
header .box-header nav a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.box-banner {
  width: 73vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.box-banner .banner-title {
  height: 60vh;
  margin-top: 5rem;
  font-family: "Inter", sans-serif;
}
.box-banner .banner-title h2 {
  font-size: 4rem;
  background: linear-gradient(to right, #1173d4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  width: 80%;
}
.box-banner .banner-title p {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #04031c;
  width: 60%;
}

.box-button {
  margin-top: 4rem;
  width: 60%;
  height: 5vh;
  font-weight: 500;
}
.box-button button {
  margin-right: 20px;
  padding: 20px 0px;
  border-radius: 10px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.box-button .button-primary {
  background: #1173d4;
  color: #ffffff;
  width: 50%;
}
.box-button .button-secondary {
  background: #ffffff;
  color: #1173d4;
  border: solid 1px #1173d4;
  width: 30%;
}

main {
  flex-grow: 1;
}

#title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.routine-exams {
  background-color: #f8f9fa;
  padding: 4rem 0;
  font-family: "Inter", sans-serif;
}
.routine-exams .title {
  background: linear-gradient(to right, #1173d4 0%, #33CC73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.routine-exams .subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  width: 50%;
  margin: 0 auto 4rem auto;
  color: #04031c;
}

.box-cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.box-cards .card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 1rem;
  flex-basis: 300px;
}
.box-cards .card img {
  width: 50px;
  height: 50px;
}
.box-cards .card h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #04031c;
}
.box-cards .card p {
  font-size: 1rem;
  margin-top: 1rem;
}

.prevention-feminine {
  background-color: #FDEFEF;
  padding: 4rem 0;
}

.title-feminine {
  background: linear-gradient(to right, rgba(249, 1, 111, 0.5411764706) 54%, rgba(147, 8, 133, 0.6196078431) 62%, rgba(208, 56, 170, 0.7529411765) 75%, #851C87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.prevention-masculine {
  background-color: #F8F9FA;
  padding: 4rem 0;
}

.title-masculine {
  background: linear-gradient(to right, #3373D2 0%, #6F95C7 25%, #7BB5F5 50%, #0074EE 75%, #5EA7EF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.box-prevention {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
}

.prevention-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 1rem;
  flex-basis: 280px;
}
.prevention-card img {
  width: 100px;
  height: 100px;
}
.prevention-card h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #04031c;
}
.prevention-card ul {
  text-align: left;
  margin-top: 1rem;
  list-style-type: disc;
  padding-left: 20px;
}
.prevention-card ul li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

footer {
  background-color: #313461;
  color: #ffffff;
  padding: 3rem 0 2rem 0;
  font-family: "Poppins", sans-serif;
}

.box-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #9fabbc;
  flex-wrap: wrap;
}
.box-footer div {
  flex-basis: 350px;
}
.box-footer div h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.box-footer div h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.box-footer div p {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.box-footer div a {
  display: block;
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.footer-note {
  margin-top: 2rem;
  font-size: 0.9rem;
  padding: 0 1rem;
  text-align: center;
}

/* 📱 MOBILE */
@media (max-width: 600px) {
  header {
    height: auto;
    background-size: cover;
  }
  header .box-header {
    width: 90%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 2rem;
  }
  header .box-header img {
    width: 6rem;
  }
  header .box-header nav {
    width: 50%;
    margin-right: 0;
    justify-content: center;
    gap: 1.5rem;
  }
  header .box-header nav a {
    font-size: 0.8rem;
  }
  .box-banner {
    flex-direction: column;
    width: 90vw;
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .box-banner .banner-title {
    margin-top: 3rem;
  }
  .box-banner .banner-title h2 {
    font-size: 2.8rem;
    width: 100%;
  }
  .box-banner .banner-title p {
    font-size: 1.7rem;
    width: 100%;
  }
  .box-button {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .box-button button {
    padding: 20px 0;
    font-size: 0.8rem;
  }
  .box-button .button-primary {
    width: 60%;
  }
  .box-button .button-secondary {
    width: 40%;
  }
  .routine-exams #title {
    font-size: 1.7rem;
  }
  .routine-exams .subtitle {
    width: 90%;
    font-size: 1rem;
  }
  .routine-exams .box-cards {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .routine-exams .box-cards .card {
    width: 80%;
    flex-basis: auto;
  }
  .routine-exams .box-cards .card h3 {
    font-size: 1rem;
  }
  .routine-exams .box-cards .card p {
    font-size: 0.9rem;
  }
  .box-prevention {
    width: 90%;
  }
  .box-footer {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .box-footer div {
    text-align: center;
    flex-basis: auto;
    width: 100%;
  }
}
/* 💻 TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
  header {
    height: 40vh;
  }
  header .box-header {
    width: 80%;
    border-radius: 30px;
    margin-top: 2rem;
  }
  header .box-header img {
    width: 7rem;
  }
  header .box-header nav {
    width: 60%;
    margin-right: 2rem;
    justify-content: center;
    gap: 2rem;
  }
  header .box-header nav a {
    font-size: 1rem;
  }
  .box-banner {
    width: 80vw;
  }
  .box-banner .banner-title h2 {
    margin-top: -3rem;
    font-size: 2.5rem;
    width: 70%;
  }
  .box-banner .banner-title p {
    font-size: 1.2rem;
    margin-bottom: -2rem;
  }
  .box-button {
    width: 60%;
  }
  .box-button button {
    font-size: 0.9rem;
  }
  .box-button .button-primary {
    width: 45%;
  }
  .box-button .button-secondary {
    width: 30%;
  }
  .routine-exams #title {
    font-size: 2.5rem;
  }
  .routine-exams .subtitle {
    width: 70%;
    font-size: 1.1rem;
  }
  .routine-exams .box-cards {
    gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .routine-exams .box-cards .card {
    width: 250px;
  }
  .box-prevention {
    width: 90%;
  }
  .box-footer {
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
  }
  .box-footer div {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 150px;
  }
  .box-footer img {
    width: 10rem;
  }
}/*# sourceMappingURL=style.css.map */